In [12]:
import pandas as pd
import numpy as np

In [13]:
#Combining monthly data at once
data_2018 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2018/flight_2018.csv")
data_2019 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2019/flight_2019.csv")
data_2020 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2020/flight_2020.csv")
data_2021 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2021/flight_2021.csv")
data_2022 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2022/flight_2022.csv")
data_2023 = pd.read_csv("/Users/nakyungkim/Desktop/flight/2023/flight_2023.csv")

In [18]:
flight = pd.concat([data_2018,data_2019,data_2020,data_2021,data_2022,data_2023], ignore_index=True)

flight.tail()

,FL_DATE,OP_CARRIER,ORIGIN_CITY_NAME,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,FLIGHT_DELAY_LEVEL
3678854,2023-12-31,WN,New York,1840,1911.0,31.0,1
3678855,2023-12-31,WN,New York,1855,1900.0,5.0,0
3678856,2023-12-31,WN,New York,2000,2040.0,40.0,1
3678857,2023-12-31,WN,New York,2015,2046.0,31.0,1
3678858,2023-12-31,WN,New York,2100,2142.0,42.0,1

In [15]:
# Count the NaN values
flight.isna().sum()

FL_DATE               0
OP_CARRIER            0
ORIGIN_CITY_NAME      0
CRS_DEP_TIME          0
DEP_TIME              0
DEP_DELAY             0
FLIGHT_DELAY_LEVEL    0
dtype: int64

In [19]:
flight.shape

(3678859, 7)

In [16]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678859 entries, 0 to 3678858
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   FL_DATE             object
 1   OP_CARRIER          object
 2   ORIGIN_CITY_NAME    object
 3   CRS_DEP_TIME        int64
 4   DEP_TIME            float64
 5   DEP_DELAY           float64
 6   FLIGHT_DELAY_LEVEL  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 196.5+ MB

In [17]:
flight.to_csv('flight_total.csv', index=False)